<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.NoticeboardMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Noticeboard">
        <id column="id" property="id" jdbcType="INTEGER"/>
                                    <result column="title" property="title" jdbcType="VARCHAR"/>
                                    <result column="picture" property="picture" jdbcType="VARCHAR"/>
                                    <result column="adder" property="adder" jdbcType="VARCHAR"/>
                                    <result column="counter" property="counter" jdbcType="INTEGER"/>
                                    <result column="content" property="content" jdbcType="VARCHAR"/>
                                    <result column="addtime" property="addtime" jdbcType="VARCHAR"/>
                                
    </resultMap>
    <sql id="Base_Column_List">
        id, title, picture, adder, counter, content, addtime    </sql>
    </mapper>
